{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'accounts/css/base.css' %}" />
  <link rel="stylesheet" href="{% static 'accounts/css/change_password.css' %}" />
  <title>암호 변경</title>
</head>
<body>
  <article class="profile--section--wrap">
    <h1 class="change--title">비밀번호 수정</h1>
    <form action="{% url 'accounts:change_password' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div>
        <div class="change--list">
          <div class="change--element">
            <span class="change--sub1">현재 비밀번호</span>
            {{ form.old_password }}
          </div>
          <div class="change--element">
            <span class="change--sub1">새 비밀번호</span>
            {{ form.new_password1 }}
          </div>
          <div class="change--element">
            <span class="change--sub1">새 비밀번호 확인</span>
            {{ form.new_password2 }}
          </div>
          <div class="button--wrap--center">
            <input class="blue--button--border change--button" type="submit" value="비밀번호 수정">
          </div>
        </div>
      </div>
    </form>
  </article>
</body>
</html>
