<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>암호 변경</title>
</head>
<body>
  <article>
    <form action="{% url 'accounts:change_password' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div>{{ form.old_password }}</div>
      <div>{{ form.new_password1 }}</div>
      <div>{{ form.new_password2 }}</div>
      <input type="submit" value="비밀번호 수정">
    </form>
  </article>
</body>
</html>
