{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'accounts/css/profile.css' %}" />
<link rel="stylesheet" href="{% static 'accounts/css/base.css' %}" />
<link rel="stylesheet" href="{% static 'accounts/css/mydata.css' %}" />
{% endblock header %}

{% block title %}마이페이지{% endblock title %}

{% block content %}
<article class="profile--container">
  <section class="ajax--container">
    <h1 class="mydata--title">내 포트폴리오</h1>
    <div class="mydata--list">
        {% for md in mydata %}
          <div class="mydata--card">
            <p class="mydata--card__pk">{{ md.pk }}</p>
            <div class="madata--card__btn--wrap">
              <p>{{ md.title }}</p>
              <div>
                <a class="sm--button" href="{% url 'portfolios:m_update' md.title %}">수정</a>
                <a class="sm--red--button" href="{% url 'portfolios:m_delete' md.title %}" onclick="return confirm('삭제하시겠습니까?')">삭제</a>
              </div>
            </div>
          </div>
       {% endfor %}
    </div>
  </section>
  <section class="profile--list">
    <div class="profile--user--wrap">
      <p>
        {% if user.image %}
          <img class="profile--image" src="{{ user.image.url }}" alt="user image">
        {% endif %}
      </p>
      <p class="profile--useremail">{{ user }}</p>
    </div>
    <div class="profile--etc--wrap">
      <p>
        <a href="{% url 'accounts:mydata' person.pk %}">내 포트폴리오</a>
      </p>
      <p>
        <a href="{% url 'accounts:subscribe' %}">구독 정보</a>
      </p>
      <p>
        <a href="{% url 'accounts:update' %}">회원정보 수정</a>
      </p>
      <p>
        <a href="{% url 'accounts:change_password' %}">암호 변경</a>
      </p>
      <p>
        <a href="{% url 'accounts:logout' %}" style="color:red;">로그 아웃</a>
      </p>
    </div>
    <div class="">
      <a class="blue--button-border" href="{% url 'portfolios:m_create' %}">포트폴리오 만들기 ></a>
    </div>
  </section>
</article>
{% if messages %}
  {% for message in messages %}
    <script>
      alert("{{ message }}");
    </script>
  {% endfor %}
{% endif %}

<article>
  {% for payment in user_payments %}
    <p>구독타입: {{ payment.subscription.title }}</p>
    <p>시작날짜: {{ payment.start_date }}</p>
    <p>종료날짜: {{ payment.end_date }}</p>
{% endfor %}
</article>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function() {
    // mydata 링크 클릭 이벤트
    $('a[href="{% url 'accounts:mydata' person.pk %}"]').click(function(e) {
      e.preventDefault();
      loadContentViaAjax($(this).attr('href'));
    });

    // 결제 정보 링크 클릭 이벤트
    $('a[href="{% url 'accounts:subscribe' %}"]').click(function(e) {
      e.preventDefault();
      loadContentViaAjax($(this).attr('href'));
    });

    // 회원정보 수정 링크 클릭 이벤트
    $('a[href="{% url 'accounts:update' %}"]').click(function(e) {
        e.preventDefault();
        loadContentViaAjax($(this).attr('href'));
    });

    // 암호 변경 링크 클릭 이벤트
    $('a[href="{% url 'accounts:change_password' %}"]').click(function(e) {
        e.preventDefault();
        loadContentViaAjax($(this).attr('href'));
    });

    function loadContentViaAjax(url) {
        $.ajax({
            url: url,
            type: 'GET',
            headers: { 'X-Requested-With': 'XMLHttpRequest' },
            success: function(data) {
                $('.ajax--container').html(data);
            }
        });
    }
});
</script>
{% endblock content %}