{% extends 'base.html' %}
{% load static %}
{% block title %}마이페이지{% endblock title %}

{% block content %}
<article>
  <div>
    <a href="{% url 'accounts:logout' %}">로그아웃</a>
  </div>
</article>
<article>
  {% for md in mydata %}
    <div>
      {{ md.user }}
      {{ md.title }}
      {{ md.content }}
      <a href="{% url 'portfolios:m_update' md.title %}">update</a>
    </div>
  {% endfor %}
</article>
{% if messages %}
  {% for message in messages %}
    <script>
      alert("{{ message }}");
    </script>
  {% endfor %}
{% endif %}
{% endblock content %}

       