{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'accounts/css/base.css' %}" />
  <link rel="stylesheet" href="{% static 'accounts/css/subscribe.css' %}" />
  <title>구독 정보</title>
  <style>
    
  </style>
</head>
<body>
  <article class="profile--section--wrap">
    <h1 class="update--title">구독 정보</h1>
    구독 임시 페이지 입니다.
  </article>
</body>
</html>
