<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원정보 수정</title>
  <style>
    
  </style>
</head>
<body>
  <article>
    <form action="{% url 'accounts:update' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div><span>이메일</span>{{ form.email }}</div>
      <div>{{ form.password1 }}</div>
      <div>{{ form.password2 }}</div>
      <div><p>이미지</p>{{ form.image }}</div>
      <input class="blue--button--border" type="submit" value="회원정보 수정">
    </form>
    <p>
      <a class="red--button--border" href="{% url 'accounts:delete' %}">회원탈퇴</a>
    </p>
  </article>
</body>
</html>


