{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'accounts/css/update.css' %}" />
  <title>회원정보 수정</title>
  <style>
  </style>
</head>
<body>
  <article class="profile--section--wrap">
    <h1 class="profile--title">회원정보 수정</h1>
    <div class="update--contents">
      <div>
        <form action="{% url 'accounts:update' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="update--list">
            <div>
              <span>이메일</span>
              {{ form.email }}
            </div>
            <div>
              <span>이미지</span>
              <div class="update--image--list">{{ form.image }}</div>
            </div>
            <div class="button--wrap--center ">
              <input class="blue--button--border update--button" type="submit" value="회원정보 수정">
            </div>
          </div>
        </form>
      </div>
      <div class="update--del--wrap">
        <a class="update--del" href="{% url 'accounts:delete' %}">회원탈퇴</a>
      </div>
    </div>
  </article>
</body>
</html>


