* {
  box-sizing: border-box;
}

.create--container {
  width: 80%;
  margin: 20px auto ;
  padding: 10px;
  text-align: center;
}

.basic--form {
  width: 100%;
  background-color: rgb(230, 230, 230);
  padding: 10px 8px;
  border: 0;
  color: black;
  font-weight: 600;
  font-size: 1rem;
  margin: 10px auto;
}

.basic--img--form {
  width: 100%;
  background-color: rgb(230, 230, 230);
  border: 0;
  color: black;
  font-weight: 600;
  font-size: 1rem;
  margin: auto;
}

.basic--container {
  display: flex;
  gap: 20px;
  width: 100%;
}

.basic--container--content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.basic--container--content--image {
  background-color: rgb(230, 230, 230);
  width: 100%;
  margin: 10px 0;
  padding: 10px 8px;
  display: flex;
  flex-direction: column;
}
.image--header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image--header h1 {
  font-size: 17px;
  width: 100%;
  padding: 10px;
  margin-left: 10px;
  color: gray;
}

.imag--box {
  background-color: rgb(230, 230, 230);
  height: 100%;
}

.basic--container--content--image input[type="file"] {
  color: transparent;
}
.basic--container--content--image input[type=file]::file-selector-button {
  width: 200px;
  background-color: rgb(184, 184, 184);
  border: 0;
  padding: 5px;
  text-align: center;
}

.link--box {
  background-color: rgb(230, 230, 230);
  width: 100%;
  padding: 20px;
}

.link--header{
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  color: gray;
  align-items: center;
  padding-left: 10px;
}

#add-link-entry, #add-career-entry, #add-pjt-entry {
  background-color: rgb(230, 230, 230);
  width: 23px;
  height: 23px;
  text-align: center;
  line-height: 20px;
  margin-left: auto;
}

.link--content {
  padding: 10px 8px;
  width: 150px;
  margin: 5px;
  border-radius: 0.35rem;
  border: solid 1px rgb(158, 158, 158);
}

.link--content:focus {
  border-radius: 0.35rem;
  border: solid 1px black;
  outline: none;
}
.link-entry, .career-entry {
  display: flex;
}

.career--content {
  padding: 10px 8px;
  width: 95%;
  margin: 5px 10px;
  border-radius: 0.35rem;
  border: solid 1px rgb(158, 158, 158);
}
.career--content:focus {
  border-radius: 0.35rem;
  border: solid 1px black;
  outline: none;
}

.stack--box {
  background-color: rgb(230, 230, 230);
  width: 100%;
  padding: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: start;
  margin-bottom: 10px;
}
.stack--box h1 {
  font-weight: 600;
  color: gray;
  font-size: 1rem;
  width: 50px;
  text-align: center;
}
.select2-container {
  margin: 5px !important;
}
.select2 {
  width: 100% !important;
}

.pjt-entry {
  background-color: rgb(230, 230, 230);
  padding: 10px;
  margin-bottom: 10px;
}

.pjt--content {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: start;
  margin-bottom: 10px;
}

.pjt--content-hidden {
  max-height: 0;
  overflow: hidden;
  margin-bottom: 0 !important;
}


.pjt--content h1 {
  font-weight: 600;
  color: gray;
  font-size: 1rem;
  width: 50px;
  text-align: center;
}

.pjt--form {
  padding: 10px 8px;
  flex: 1;
  margin: 5px;
  border-radius: 0.35rem;
  border: solid 1px rgb(158, 158, 158);
}

.pjt--form:focus {
  border-radius: 0.35rem;
  border: solid 1px black;
  outline: none;
}

#submit-button {
  border: 0;
  width: 250px;
  margin: 20px;
  padding: 10px;
  font-size: 1.3rem;
  font-weight: 600;
  color: gray;
  background-color: rgb(230, 230, 230);
  text-align: center;
}

#submit-button:hover {
  color: black;
}

#submit-button:hover:disabled {
  color: gray;
  cursor: default;
}

#more-btn {
  background-color: #fff;
  cursor: pointer;
  line-height: 50%;
}

.pjt-entry .pjt--content:not(:first-child) {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: start;
  margin-bottom: 10px;
}

#more-btn svg {
  transition: transform 0.5s ease;
}

#more-btn.is-reversed svg {
  transform: rotate(180deg);
}

.file-input-wrapper {
  position: relative;
}

.file-input-wrapper input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.image-preview-container {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: white;
  border-radius: 0.35rem;
  min-height: 200px;
  height: 100%;
  flex: 1;
  margin: 5px;
  margin-bottom: 10px;
  padding: 10px;
  overflow: auto;
  flex-wrap: nowrap;
  cursor: pointer;
}
.image-preview img {
  width: 150px;
  height: 150px;
}
.placeholder-text {
  width: 100%;
  text-align: center;
  color: rgb(190,190,190);
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
  display: block;
}

.image-preview {
  position: relative;
  width: 150px;
  height: 150px;
}
.remove-image-btn {
  position: absolute;
  left: 5px;
  top: 5px;
  font-size: 25px;
  font-weight: 400;
  color: black;
}

#delete-image {
  display: none;
}