{% extends 'base.html' %}
{% load static %}
{% block title %}요금{% endblock title %}

{% block content %} 
  <article>
    <h1>요금 인덱스 페이지 입니다.</h1>
  </article>

  {% for sub in subscriptions %}
    <form method="post" action="{% url 'payments:subscribe' sub.id %}">
      {% csrf_token %}
      {% if request.user.subscription %}
        {% if request.user.subscription == sub %}
          <button type="submit" disabled>{{ sub }} (현재 구독 중)</button>
        {% else %}
          <button type="button" class="alert-button">{{ sub }}</button>
        {% endif %}
      {% else %}
        <button type="submit">{{ sub }}</button>
      {% endif %}
    </form>
  {% endfor %}

<script>
  document.querySelectorAll('.alert-button').forEach(function(button) {
    button.addEventListener('click', function() {
      alert('다른 요금제 선택 불가');
    });
  });
</script>


{% endblock content %}
