{% extends 'base.html' %}
{% load static %}
{% load subscribe %}
{% block title %}요금{% endblock title %}

{% block content %} 
  <article>
    <h1>요금 인덱스 페이지 입니다.</h1>
  </article>

  {% for sub in subscriptions %}
    {% if sub.title != "1개월 무료" or not request.user|used_free %}
      <form method="post" action="{% url 'payments:kakaopay' sub.id %}">
        {% csrf_token %}
        {% if request.user|can_subscribe:sub %}
          <p>{{ sub }}</p>
          <button type="submit">결제</button>
        {% else %}
          {% if request.user.subscription.subscription == sub %}
            <p>{{ sub }} (현재 구독 중)</p>
            <button type="submit" disabled>결제</button>
          {% else %}
            <p>{{ sub }}</p>
            <button type="button" class="alert-button">결제</button>
          {% endif %}
        {% endif %}
      </form>
    {% endif %}
  {% endfor %}

  <a id="chat-channel-button" href="javascript:chatChannel()">
    <p>고객센터</p>
  </a>


  <script src="https://t1.kakaocdn.net/kakao_js_sdk/2.3.0/kakao.min.js" integrity="sha384-70k0rrouSYPWJt7q9rSTKpiTfX6USlMYjZUtr1Du+9o4cGvhPAWxngdtVZDdErlh" crossorigin="anonymous"></script>
  
  <script>
    Kakao.init('{{ JS_KEY }}');
  </script>

  <script>
    function chatChannel() {
      Kakao.Channel.chat({
        channelPublicId: '_iZxaVG',
      });
    }
  </script>

  <script>
    document.querySelectorAll('.alert-button').forEach(function(button) {
      button.addEventListener('click', function() {
        alert('다른 요금제 선택 불가');
      });
    });
  </script>

{% endblock content %}
