{% extends 'base.html' %}
{% load static %}
{% block title %}Basic template{% endblock title %}

{% block header %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <link rel="stylesheet" href="{% static 'portfolios/basic.css' %}" />
{% endblock header %}

{% block content %}

<form action="{% url 'portfolios:p_create' 'basic' %}" id="form_data_title">
  <select name="data_title" id="data_title">
    <option value="{{ test_mydata.title }}">{{ test_mydata.title }}</option>
    {% for md in mydata %}
      <option value="{{ md.title }}" {% if selected_data  == md.title %}selected{% endif %}>{{ md.title }}</option>
    {% endfor %}
  </select>
</form>
<h2>{{selected_data}}</h2>
<h3>{{selected_mydata}}</h3>
  
  <article>
    <header class="pjt--header">
      <div>Portfolio</div>
      <nav>
        <ul class="pjt--header__nav">
          <li><a href="#aboutme">About me</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#career">Career</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <!-- 1. About me -->
      <article id="aboutme" class="pjt--article">
        <h1>about me</h1>
        <div class="aboutme--list">
          <section class="aboutme__section1">
            <div class="aboutme__userdata--wrap">
              <ul>
                <li>
                  <p>name: {{ selected_mydata.username }}</p>
                </li>  
                <li>
                  <p>job: {{ selected_mydata.job }}</p>
                </li>  
                <li>
                  <p>phonenumber: {{ selected_mydata.phone }}</p>
                </li>  
                <li>
                  <p>email: {{ selected_mydata.email }}</p>
                </li>  
                <li>
                  {% for link in mylinks %}
                    <span>{{ link.link }}: {{ link.link_content }}</span>
                  {% endfor %}
                </li>
              </ul>
            </div>
            <div class="aboutme__userimage--wrap">
              <img src="{{ selected_mydata.image.url }}" alt="userimage">
            </div>
          </section>
          <section class="aboutme__section2">
            소개글
            <div>
              이웃 노루, 못 그리고 새겨지는 너무나 봅니다. 쉬이 별 별 별들을 이름과, 된 있습니다. 별 별빛이 이름과, 시인의 강아지, 속의 별을 많은 가득 버리었습니다. 하나에 내 잔디가 슬퍼하는 까닭입니다. 동경과 내린 가득 다 멀리 하나의 하나에 헤일 있습니다. 이름자를 된 하나에 이름을 겨울이 봅니다. 까닭이요, 하나에 까닭이요, 써 했던 하나의 별빛이 이 있습니다. 흙으로 불러 별을 가난한 어머니, 하나에 있습니다. 쓸쓸함과 이웃 까닭이요, 그리고 이름자를 너무나 잔디가 위에도 어머님, 있습니다. 한 다 이런 위에 이름을 아름다운 멀듯이, 당신은 이름자를 봅니다.
            </div>
          </section>
          <section>
            <h3>stack</h3>
            <ul>
              {% for stack in selected_mydata.stack.all %}
                <li>{{ stack.stack }}</li>
              {% endfor %}
            </ul>
          </section>
        </div>
      </article>

      <!-- 2. Projects -->
      <article id="projects" class="pjt--article">
        <h1>Projects</h1>
        <section>
          {% for pjt in mypjts %}
            <div>
              <div>
                {% for image in pjt.pjtimages_set.all %}
                  <img src="{{image.image.url}}" alt="Project image" width="100px">
                {% endfor %}
              </div>
              <div>
                <p>제목: {{pjt.name}}</p>
                <p>역할: {{pjt.role}}</p>
                <p>설명: {{pjt.pjts_content}}</p>
                {% if pjt.github %}
                  <p>깃헙주소: {{ pjt.github }}</p>
                {% endif %}
                {% if pjt.web %}
                  <p>URL: {{ pjt.web }}</p>
                {% endif %}
                {% for pjt_stack in pjt.stack.all %}
                  <p>{{ pjt_stack.stack }}</p>
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        </section>
      </article>

      <!-- 3. Career -->
      <article id="career" class="pjt--article">
        <section>
          {% for career in mycareers %}
            <p>{{ career.career_content }}</p>
          {% endfor %}
        </section>
      </article>
    </main>
    
  </article>
  <script>
    document.getElementById('data_title').addEventListener('change', function() {
      document.getElementById('form_data_title').submit();
    });
  </script>
{% endblock content %}