{% extends 'base.html' %}
{% load static %}
{% block title %}MY DATA{% endblock title %}

{% block header %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
{% endblock header %}

{% block content %}

<form action="{% url 'portfolios:m_create' %}" method='POST' enctype='multipart/form-data'>
  {% csrf_token %}
  <h3>basic</h3>
  {{ basic.as_p }}
  <p id="title-error"></p>
  stack
  <select multiple class="select" id="b_stack_multi" name="b_stack_multi" style="width:335px; height:70px;" multiple="multiple">
    {% for stack in stacks %}
      <option value="{{stack.0}}">{{stack.0}}</option>
    {% endfor %}
  </select>
  <h3>link</h3>
  <fieldset id="link-formset">
    <legend>LINK Entries</legend>
    <div id="link-entries">
      <div class="link-entry">
        {{ link.as_table }}
      </div>
    </div>
    <button type="button" id="add-link-entry">Add LINK Entry</button>
  </fieldset>

  <h3>pjt</h3>
  <fieldset id="pjt-formset">
    <legend>PJT Entries</legend>
    <div id="pjt-entries">
      <div class="pjt-entry">
        {{ pjt.as_table }}
        <h3>pjtimage</h3>
        {{ pjtimage.as_table }}
        <select multiple class="select" id="p_stack_multi-0" name="p_stack_multi-0" style="width:335px; height:70px;" multiple="multiple">
          {% for stack in stacks %}
            <option value="{{stack.0}}">{{stack.0}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <button type="button" id="add-pjt-entry">Add PJT Entry</button>
  </fieldset>
  
  <h3>career</h3>
  <fieldset id="career-formset">
    <legend>CAREER Entries</legend>
    <div id="career-entries">
      <div class="career-entry">
        {{ career.as_table }}
      </div>
    </div>
    <button type="button" id="add-career-entry">Add CAREER Entry</button>
  </fieldset>
  
  <input type="submit" value="등록" id="submit-button">
</form>

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"/>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js" /></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script>
  $(document).ready(function() {
    $("#b_stack_multi").select2();
  });	
  $(document).ready(function() {
    $("#p_stack_multi-0").select2();
  });
  $(document).ready(function() {
    var typingTimer;
    var doneTypingInterval = 100;
  
    checkDuplicatetitle();
  
    $('#id_title').on('input', function() {
      clearTimeout(typingTimer);
      typingTimer = setTimeout(checkDuplicatetitle, doneTypingInterval);
  });
  
    function checkDuplicatetitle() {
      var title = $('#id_title').val();
  
      if (!title) {
        $('#title-error').hide();
        $('#submit-button').prop('disabled', false);
        return;
      }
  
        $.ajax({
            url: '/portfolios/check/',
            type: 'GET',
            data: {'title': title},
            success: function(response) {
                if (response.duplicate) {
                    $('#title-error').text('※ 중복된 title입니다.').show();
                    $('#submit-button').prop('disabled', true); 
                } else {
                    $('#title-error').hide();
                    $('#submit-button').prop('disabled', false);
                }
            }
        });
    }
  });
  
  function addLinkField() {
    const linkEntries = document.getElementById("link-entries");
    const firstLinkEntry = linkEntries.firstElementChild;

    const newLinkEntry = document.createElement("div");
    newLinkEntry.className = "link-entry";
    const newIndex = linkEntries.childElementCount;
    newLinkEntry.innerHTML = firstLinkEntry.innerHTML.replace(/link-\d+/g, `link-${newIndex}`);

    const closeButton = document.createElement("button");
    closeButton.innerHTML = "&#10006;";
    newLinkEntry.appendChild(closeButton);

    linkEntries.appendChild(newLinkEntry);
  }
  
  document.getElementById("add-link-entry").addEventListener("click", addLinkField);
  document.getElementById("link-entries").addEventListener("click", function(event) {
    if (event.target.tagName === "BUTTON") {
      const linkEntry = event.target.parentNode;
      linkEntry.remove();
    }
  });

  function addPjtField() {
    const pjtEntries = document.getElementById("pjt-entries");
    const lastPjtEntry = pjtEntries.firstElementChild;
    const newPjtEntry = document.createElement("div");
    newPjtEntry.className = "pjt-entry";

    const newIndex = pjtEntries.childElementCount;

    newPjtEntry.innerHTML = lastPjtEntry.innerHTML.replace(/pjt-\d+/g, `pjt-${newIndex}`);
    newPjtEntry.querySelector('.select').remove();
    newPjtEntry.querySelector('.select2').remove();
  

    const stacks = {{stacks|safe}};

    const selectElement = document.createElement('select');
    selectElement.multiple = true;
    selectElement.setAttribute('class', 'select select2-hidden-accessible');
    selectElement.setAttribute('id', `p_stack_multi-${newIndex}`);
    selectElement.setAttribute('name', `p_stack_multi-${newIndex}`);
    selectElement.style.width = '335px';
    selectElement.style.height = '70px';
    selectElement.setAttribute("data-select2-id", `p_stack_multi-${newIndex}`);

    stacks.forEach((stack) => {
      const optionElement = document.createElement('option');
      optionElement.setAttribute('value', stack);
      optionElement.textContent = stack;
      selectElement.appendChild(optionElement);
    });

    const closeButton = document.createElement("button");
    closeButton.innerHTML = "&#10006;";
    newPjtEntry.appendChild(closeButton);

    newPjtEntry.appendChild(selectElement);
    pjtEntries.appendChild(newPjtEntry);

    $(`#p_stack_multi-${newIndex}`).select2();
    
  }

  document.getElementById("add-pjt-entry").addEventListener("click", addPjtField);
  document.getElementById("pjt-entries").addEventListener("click", function(event) {
    if (event.target.tagName === "BUTTON") {
      const pjtEntry = event.target.parentNode;
      pjtEntry.remove();
    }
  });
  
  function addCareerField() {
    const careerEntries = document.getElementById("career-entries");
    const firstCareerEntry = careerEntries.firstElementChild;
    const newCareerEntry = document.createElement("div");
    newCareerEntry.className = "career-entry";

    const newIndex = careerEntries.childElementCount;
    newCareerEntry.innerHTML = firstCareerEntry.innerHTML.replace(/career-\d+/g, `career-${newIndex}`);
    const closeButton = document.createElement("button");
    closeButton.innerHTML = "&#10006;";
    newCareerEntry.appendChild(closeButton);
    
    careerEntries.appendChild(newCareerEntry);
  }

  document.getElementById("add-career-entry").addEventListener("click", addCareerField);
  document.getElementById("career-entries").addEventListener("click", function(event) {
    if (event.target.tagName === "BUTTON") {
      const careerEntry = event.target.parentNode;
      careerEntry.remove();
    }
  });

  
</script> 
{% endblock content %}