{% extends 'base.html' %}
{% load static %}
{% block title %}MY DATA update{% endblock title %}

{% block header %}
  <link rel="stylesheet" href="{% static 'mydata/css/create.css' %}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
{% endblock header %}

{% block content %}
<div class="create--container">
  <form action="{% url 'portfolios:m_update' my_data.title %}" method='POST' enctype='multipart/form-data'>
  {% csrf_token %}
  {{ basic.title }}
  <input type="hidden" id="origin_title" name="origin_title" value="{{ my_data.pk }}">
  <p id="title-error"></p>
  <div class="basic--container">
    <div class="basic--container--content">
      {{ basic.username }}
      {{ basic.job }}
      {{ basic.phone }}
      {{ basic.email }}
    </div>
    <div class="basic--container--content--image">
      <div class="image--header">
        <h1>프로필 사진</h1>
        {{ basic.image }}
      </div>
      <div class="imag--box">
        <img id="preview-image" src="#" alt="미리보기" style="display: none; width: 150px; height: 150px; margin:auto;">
      </div>
    </div>
  </div>
  <div class="link--header">
    <h3>링크</h3>
    <button type="button" id="add-link-entry">
      <svg width="15px" height="15px" viewBox="0 -0.5 9 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="gray"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>plus_mini [#1523]</title> <desc>Created with Sketch.</desc> <defs> </defs> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Dribbble-Light-Preview" transform="translate(-345.000000, -206.000000)" fill="gray"> <g id="icons" transform="translate(56.000000, 160.000000)"> <polygon id="plus_mini-[#1523]" points="298 49 298 51 294.625 51 294.625 54 292.375 54 292.375 51 289 51 289 49 292.375 49 292.375 46 294.625 46 294.625 49"> </polygon> </g> </g> </g> </g></svg>
    </button>
  </div>
  <div class="link--box">
    <div id="link-entries">
      {% for link in links %}
        <div class="link-entry">
          {{ link.link }}
          {{ link.link_content }}
          <button>&#10006;</button>
        </div>
      {% endfor %}
      {% if links.link_content.value == "" %}
        <div class="link-entry">
          {{ links.as_table }}
        </div>
      {% endif %}
    </div>
  </div>
  
  {{ basic.introduction }}
  <div class="stack--box">
    <h1>스택</h1> 
    <select multiple class="select" id="b_stack_multi" name="b_stack_multi" style="width:335px; height:70px;" multiple="multiple">
      {% for stack in stacks %}
      <option value="{{stack.0}}" {% if stack.0 in my_data_stacks %}selected{% endif %}>{{stack.0}}</option>
      {% endfor %}
    </select>
  </div>

  <div class="link--header">
    <h3>프로젝트</h3>
    <button type="button" id="add-pjt-entry">
      <svg width="15px" height="15px" viewBox="0 -0.5 9 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="gray"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>plus_mini [#1523]</title> <desc>Created with Sketch.</desc> <defs> </defs> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Dribbble-Light-Preview" transform="translate(-345.000000, -206.000000)" fill="gray"> <g id="icons" transform="translate(56.000000, 160.000000)"> <polygon id="plus_mini-[#1523]" points="298 49 298 51 294.625 51 294.625 54 292.375 54 292.375 51 289 51 289 49 292.375 49 292.375 46 294.625 46 294.625 49"> </polygon> </g> </g> </g> </g></svg>
    </button>
  </div>
    <div id="pjt-entries">
      {% for pjt in pjts %}
        <div class="pjt-entry">
          <div class="pjt--content">
            <h1>제목</h1>
            {{ pjt.0.name }}
            <div id="more-btn">
              <svg width="30px" height="30px" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#5c8dff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M4 9H11L7.5 4.5L4 9Z" fill="#5c8dff"></path> </g></svg>
            </div>
          </div>
          <div class="pjt--content">
            <h1>설명</h1>
            {{ pjt.0.pjts_content }}
          </div>

          <div id="delete-image" class="pjt--content delete-image-{{ forloop.counter0 }}">
            {% if pjt.2.fields.delete_images.choices %}
              {{ pjt.2 }}
            {% endif %}
          </div>
          <div class="pjt--content image--container">
            <h1>이미지</h1>
            <div id="image-preview-container-{{ forloop.counter0 }}" ondrop="handleImageDrop(event,{{ forloop.counter0 }})" ondragover="handleDragOver(event)" onclick="openFileInput({{ forloop.counter0 }})" class="image-preview-container">
              <p id="placeholder-text-{{ forloop.counter0 }}" class="placeholder-text">클릭하거나 드래그하여 이미지를 추가하세요.</p>
              {{ pjt.1 }}
            </div>
          </div>
          
          <div class="pjt--content">
            <h1>역할,<br>구현<br>기능</h1>
            {{ pjt.0.role }}
          </div>
          <div class="pjt--content">
            <h1>링크</h1>
              {{ pjt.0.github }}
              {{ pjt.0.web }}
          </div>
          <div class="pjt--content" id="stack--box">
            <h1>스택</h1>
            <select multiple class="select" id="p_stack_multi-{{ forloop.counter0 }}" name="p_stack_multi-{{ forloop.counter0 }}" style="width:335px; height:70px;" multiple="multiple">
              {% for stack in stacks %}
                <option value="{{stack.0}}"{% if stack.0 in pjt.3 %}selected{% endif %}>{{stack.0}}</option>
              {% endfor %}
            </select>
            <button>&#10006;</button>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="link--header">
      <h3>경력</h3>
      <button type="button" id="add-career-entry">
        <svg width="15px" height="15px" viewBox="0 -0.5 9 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="gray"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>plus_mini [#1523]</title> <desc>Created with Sketch.</desc> <defs> </defs> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Dribbble-Light-Preview" transform="translate(-345.000000, -206.000000)" fill="gray"> <g id="icons" transform="translate(56.000000, 160.000000)"> <polygon id="plus_mini-[#1523]" points="298 49 298 51 294.625 51 294.625 54 292.375 54 292.375 51 289 51 289 49 292.375 49 292.375 46 294.625 46 294.625 49"> </polygon> </g> </g> </g> </g></svg>
      </button>
    </div>
    <div class="link--box">
      <div id="career-entries">
        {% for career in careers %}
          <div class="career-entry">
            {{ career.career_content }}
            <button>&#10006;</button>
          </div>
        {% endfor %}
      </div>
    </div>

    <input type="submit" value="수정 완료" id="submit-button">
  </form>
</div>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"/>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js" /></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script>
  const stacks = {{stacks|safe}};
</script>
<script src="{% static 'mydata/js/update.js' %}" type="text/javascript"></script>
{% endblock content %}