{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'base/css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'base/css/base.css' %}" />
    {% block header %}{% endblock header %}
    <title>ForTheFolio{% block title %}{% endblock title %}</title>
  </head>
  <body>
    <header class="header--container">
      <div class="">
        <a class="header--logo" href="#">FOR THE FOLIO</a>
        <nav>
          <ul>
            <li><a href="#">템플릿</a></li>
            <li><a href="#">요금</a></li>
          </ul>
        </nav>
      </div>
      <div>
        {% if request.user.is_authenticated %}
        <a href="{% url 'accounts:profile' user %}">마이페이지</a>
        {% else %}
        <a href="{% url 'accounts:login' %}">로그인</a>
        {% endif %}
      </div>
    </header>
    <main>{% block content %}{% endblock content %}</main>
    <footer></footer>
  </body>
</html>
