
.subscribe--list, .subscribe--empty--list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.subscribe--date--list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.date--title {
  font-size: 0.9rem;
  color: #fff;
  background-color: #793FDF;
  border-radius: 15px;
  padding: 0.2rem 1rem;
}

.empty--text--list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.subscribe--button {
  width: 120px;
}

strong {
  color: #793FDF;
}