.update--title {
  font-size: 1.3rem;
  border-bottom: 1px solid #ddd;
  margin-bottom: 2rem;
}
.update--contents {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 7rem;
}
.update--list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.update--button {
  width: 200px;
}
p {
  display: grid;
  grid-template-columns: 120px 1fr;
}
span {
  display: flex;
  align-items: flex-end;
}
.update--del--wrap {

}
.update--del {
}
.update--del:hover {
  color: red;
}