
.update--contents {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 7rem;
}
.update--list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.update--button {
  width: 200px;
}
.update--image--list {
  border-bottom: 2px solid #aaa;
  padding-bottom: 0.6rem;
  transition: border-color 0.3s;
}
.update--image--list:hover {
  border-color: #0066ff;
}

.update--del {
  text-decoration: underline;
}
.update--del:hover {
  color: red;
}