.header--container {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  background-color: #fff;
  box-shadow: 0 5px 5px -5px rgba(41, 85, 115, 0.21);
  padding: 1rem 2rem;
}
.header--list {
  display: flex;
  gap: 5rem;
}
.header--logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  font-size: 22px;
  border: 1px solid #000;
  border-radius: 30px;
  
}
.header--navbar {
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 100%;
}
.header--user {
  display: flex;
  align-items: center;
  color: #1C77FF;
}
.header--login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 35px;
  border: 1px solid #1C77FF;
  border-radius: 30px;

}

.main--container {
  min-height: 80vh;
  margin: auto 10%;
}